    /* Basic Elements */

body
    {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    }

em
    {
    color: antiquewhite;
    }

figure
    {
    margin: 2px;
    }

    /* General Classes */

.hidden
    {
    display: none !important;
    }

.button
    {
    cursor: pointer;
    color: white;
    text-shadow: rgba(0, 0, 255, 0.7) 3px 0 2px;
    transition: text-shadow 0.2s linear;
    padding: 0 30px;
    margin: 10px 0;
    }

.button:hover
    {
    text-shadow: blue 3px 0;
    }

.displayValue
    {
    display: inline-block;
    color: chartreuse;
    }

.backButton
    {
    margin-top: 40px;
    }

.popupWindow
    {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    }

.popupOverlay
    {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    }

.popupButtons
    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }

    /* Main Elements */

#GameContent
    {
    position: relative;
    }

#MainCanvas
    {
    border: 1px solid rgba(255, 255, 255, 0.2);
    }

#Message
    {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
    text-shadow: blue 2px 0;
    }

    /* Main Menus */

#MainMenu, #Options, #HighScore, #Help
    {
    position: absolute; /* position the elements on the center of the window (both horizontally and vertically) */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

#MainMenu-SelectMap
    {
    padding: 0;
    }

#MainMenu-SelectMap li
    {
    display: inline-block;
    cursor: pointer;
    }

.MainMenu-mapSelected
    {
    background-color: white;
    color: black;
    }

    /* High-score Menu */

#HighScore-Table th
    {
    padding: 0 5px;
    }

#HighScore-Table td:nth-child(even):not(:last-child),
#HighScore-Table th:nth-child(even):not(:last-child)
    {
    background-color: rgb(50, 50, 50);
    }

#HighScore-Content
    {
    position: relative;
    }

#HighScore-Info
    {
    position: absolute;
    width: 300px;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    }

.HighScore-selectedInfo
    {
    color: black;
    background-color: white;
    text-shadow: rgba(100, 100, 255, 0.7) 3px 0 2px;
    }

.HighScore-selectedInfo:hover
    {
    text-shadow: rgba(0, 0, 255, 0.7) 3px 0 2px;
    }

    /* Help Menu */

#Help ul
    {
    list-style-type: none;
    text-align: left;
    }

#Help-Elements
    {
    text-align: left;
    }

.Help-block > *
    {
    display: inline-block;
    margin: 10px;
    }

    /* Options Menu */

#Options-Container
    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }

#Options-Container h1
    {
    font-size: 26px;
    }

.Options-rangeSetting
    {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    }

.Options-rangeSetting > *
    {
    margin: 3px 5px;
    }

.Options-rangeInput
    {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    transition: background-color 0.2s;
    }

.Options-rangeInput:hover
    {
    background-color: white;
    }

.Options-rangeInput::-webkit-slider-thumb
    {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(20, 20, 20);
    transition: background-color 0.2s;
    }

.Options-rangeInput::-webkit-slider-thumb:hover
    {
    background-color: black;
    }

.Options-value
    {
    width: 50px;
    text-align: right;
    }

    /* Game Menu */

#GameMenu
    {
    position: absolute; /* position below the canvas at the bottom/right corner */
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

#GameMenu-Left, #GameMenu-Right
    {
    display: flex;
    flex-direction: row;
    }

#GameMenu-Left > *
    {
    padding: 0;
    margin: 0;
    padding-right: 5px;
    }

#GameMenu-Right > *
    {
    padding: 0;
    margin: 0;
    padding-left: 5px;
    width: 80px;
    }
