body
    {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding: 0;
    }

.hidden
    {
    display: none;
    }

#GameContent
    {
    position: relative;
    }

#MainCanvas
    {
    border: 1px solid rgba(255, 255, 255, 0.2);
    }

.button
    {
    cursor: pointer;
    color: white;
    text-shadow: rgba(0, 0, 255, 0.7) 3px 0 2px;

    padding: 0 30px;
    margin: 10px 0;
    }

.button:hover
    {
    text-shadow: blue 3px 0;
    }

#Message
    {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
    text-shadow: blue 2px 0;
    }

em
    {
    color: antiquewhite;
    }

.displayValue
    {
    color: chartreuse;
    }

    /* Main Menus */

#MainMenu, #Options, #HighScore, #Help
    {
    position: absolute; /* position the elements on the center of the window (both horizontally and vertically) */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

#GameMenu
    {
    position: absolute; /* position below the canvas at the bottom/right corner */
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
    width: 100%;
    }

#MainMenu-selectMap
    {
    padding: 0;
    }

.mapSelected
    {
    background-color: white;
    color: black;
    }

#MainMenu-selectMap li
    {
    display: inline-block;
    cursor: pointer;
    }

#HighScore-table td:nth-child(even), #HighScore-table th:nth-child(even)
    {
    background-color: rgb(50, 50, 50);
    }

#Help ul
    {
    list-style-type: none;
    text-align: left;
    }

#Help-elements
    {
    text-align: left;
    }

.Help-block > *
    {
    display: inline-block;
    margin: 10px;
    }

figure
    {
    margin: 2px;
    }

.backButton
    {
    margin-top: 40px;
    }

    /* Options Menu */

#Options-container > *
    {
    display: inline-block;
    width: 170px;
    padding: 0;
    margin: 20px;
    }

.rangeInput
    {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    transition: background-color 0.2s;
    }

.rangeInput:hover
    {
    background-color: white;
    }

.rangeInput::-webkit-slider-thumb
    {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(20, 20, 20);
    transition: background-color 0.2s;
    }

.rangeInput::-webkit-slider-thumb:hover
    {
    background-color: black;
    }

    /* Game Menu */

#GameMenu-left
    {
    float: left;
    display: flex;
    flex-direction: row;
    }

#GameMenu-right
    {
    float: right;
    }

#GameMenu-left > *
    {
    padding: 10px;
    margin: 0;
    }

#GameMenu-right > *
    {
    display: inline-block;
    width: 100px;
    padding: 0;
    margin: 10px 10px;
    }
