body
    {
    background-color: black;
    }

#mainCanvas
    {
    position: absolute;

    top: 0;
    left: 0;
    }


#MainMenu, #Options, #Highscore
    {
    display: none;
    position: absolute;

    top: 0;
    left: 0;

    color: white;
    }
