body
    {
    background-color: black;
    color: white;
    text-align: center;
    }

#mainCanvas
    {
    position: absolute;

    top: 0;
    left: 0;

    border: 1px solid rgba(255, 255, 255, 0.2);
    }


#MainMenu, #Options, #HighScore, #GameMenu
    {
    display: none;

    position: absolute;

    top: 0;
    left: 0;
    }


.button
    {
    cursor: pointer;

    text-shadow: rgba(0, 0, 255, 0.7) 2px 0 1px;

    padding: 0 30px;
    margin: 10px 0;
    }

.button:hover
    {
    text-shadow: blue 2px 0;
    }


#Message
    {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    }


.Message-gameOver
    {
    font-size: 1.4em;
    text-shadow: blue 2px 0;
    }



#Options-container > *
    {
    display: inline-block;
    width: 160px;
    padding: 0;
    margin: 20px;
    }


#GameMenu > *
    {
    display: inline-block;
    width: 50px;
    }